body{
  background-color: rgb(236, 236, 235);
  font-family: 'Lora', serif !important;
}

.content{ 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  margin-top: 10em;
  background-color: rgb(224, 224, 221);
 }

#myProgress {
  width: 440px;
  background-color: rgb(243, 240, 240);
  border: 2px solid rgba(53, 51, 51, 0.37);
  border-radius: 5px;
}
  
#myBar {
  width: 0%;
  height: 30px;
  background-color: rgb(8, 112, 8);
  transition: width 1s;
}
  
.counter {
  text-align: center;
}

button{
  margin: 2em !important;;
  width: 100px;
}

.progress-container{
  position: relative;
}

h1{
  font-size: 30px !important;
}


#firstDollar,  #secDollar{
  font-size: 20px ;
  position: absolute;
  top: 5px;
}

#firstDollar{
  left: -30px;
}

#secDollar{
  right: -40px;
}