body{
  margin:0;
  padding: 0;
  background-color: rgb(236, 236, 235);
  position: relative;
}
.content{
  /* text-align: center; */
  position: absolute;
  transform: translate(-50%, -50%);
}
#myProgress {
  
    width: 50%;
    background-color: rgb(197, 197, 197);
    border: 2px solid grey;
  }
  
  #myBar {
    width: 0%;
    height: 30px;
    background-color: green;
    transition: width  1s;
  }
  
  .counter {
  text-align: center;
  }

  button{
    margin: 2em !important;;
    width: 3em;
  }

  .progress-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  h1{
    font-size: 20px;
  }
  /* .progress-container::before{
    content: "0$";
    float: left;
  }
  .progress-container::after{
    content: "15$";
    /* z-index: 1; */
  /* }  */

 